

.about-page-main-body {
    @apply
    w-full 
    flex justify-center
    py-16 my-[150px]

    sm:flex-col
    md:flex-col
    lg:flex-row
    xl:flex-row

    sm:h-[184vh]
    md:h-[184vh]
    lg:h-[92vh]
    xl:h-[92vh]

    ;
}



.about-left-panel {
    @apply
    h-full
    flex flex-col

    sm:w-full
    md:w-full
    lg:w-1/2
    xl:w-1/2

    ;
}

.al-panel-content {
    @apply
    text-white flex-1  
    flex flex-col

    sm:px-8
    md:px-8
    lg:px-16
    xl:px-16
    ;
}


.about-right-panel {
    @apply
    h-full

    sm:w-full
    md:w-full
    lg:w-1/2
    xl:w-1/2
    ;
}


.fb-detail-body {
    @apply
    h-full

    sm:mt-24
    md:mt-24
    lg:mt-0
    xl:mt-0

    ;
}

.fb-panel-body {
    @apply
    h-1/2 flex flex-col justify-center px-16

    sm:px-8
    md:px-8
    lg:px-16
    xl:px-16
    ;
}