


.project-page-main-body {
    @apply
    h-fit
    ;
}


.project-panel-body {
    @apply
    bg-darkestSlate
    flex
    mb-24
    rounded-lg

    sm:h-[85vh]
    md:h-[85vh]
    lg:h-[50vh]
    xl:h-[50vh]

    sm:px-4
    md:px-4
    lg:px-10
    xl:px-10

    sm:flex-col-reverse
    md:flex-col-reverse
    lg:flex-row
    xl:flex-row

    ;
}


.project-panel-inner-content {
    @apply

    flex flex-col

    sm:w-full
    md:w-full
    lg:w-1/2
    xl:w-1/2

    sm:pr-0
    md:pr-0
    lg:pr-20
    xl:pr-20

    sm:py-4
    md:py-4
    lg:py-16
    xl:py-16

    sm:mb-auto
    md:mb-auto
    lg:mb-0
    xl:mb-0
    ;
}

.project-description {
    @apply
    px-3 mt-5 text-white

    sm:text-sm
    md:text-sm
    lg:text-base
    xl:text-base
    ;
}


.project-panel-image-holder {
    @apply
    
    aspect-video

    sm:mt-auto
    md:mt-auto
    lg:mt-0
    xl:mt-0

    sm:w-full
    md:w-full
    lg:w-1/2
    xl:w-1/2

    ;
}